<a href="https://colab.research.google.com/github/kv2afsci/Python-Basics/blob/main/9thPythonCodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practiacl No : 1

OBJECTIVE
Write a program to input a 2 lines and display it.

SOURCE CODE:

In [1]:
name= input("Please enter your name: ")
age=int(input("Enter your age:"))
print("Welcome",name )
print("Your age is:", age)

Please enter your name: Shrinivas
Enter your age:37
Welcome Shrinivas
Your age is: 37

PRACTICAL NO: 2

Write a to arithmetic operations.

SOURCE code:

In [5]:
#Store input numbers:
num1 = input('Enter first number:')
num2 = input('Enter second number:')

#Add two numbers
sum = float(num1) + float(num2)

#Subract two numbers
min = float(num1) - float(num2)

#Multiply two numbers
mul = float(num1) * float(num2)

#Divide two numbers
div = float(num1) / float(num2)

#Display the sum
print('The sum is', sum)

#Display the subtraction
print('The difference is', min)

#Display the multiplication
print('The product is', mul)

#Display the division
print('The division is', div)

Enter first number:20
Enter second number:10
The sum is 30.0
The difference is 10.0
The product is 200.0
The division is 2.0

PRACTICAL NO: 3

OBJECTIVE
Write a program to calculate distance using this formula: distance = ut+1/2at2

SOURCE CODE:

In [8]:
u=int(input("Enter the velocity in m/s"))
a=int(input("Enter the acceleration in m/s2"))
t=int(input("Enter the time in sec"))
dis=(u*t)+1/2*(a*t**2)
print("The distance travelled is ", dis, "m")

Enter the velocity in m/s10
Enter the acceleration in m/s25
Enter the time in sec30
The distance travelled is  2550.0 m

PRACTICAL NO: 4

OBJECTIVE:
Write a program to input length and breadth of rectangle and calculate its area.

SOURCE CODE:

In [ ]:
l=float(input('Enter the length of rectangle:'))
b=float(input('Enter the breadth of rectangle:'))
area=l*b
print('Rectangle Specifications')
print('Length=',l)
print('Breadth=',b)
print('Area=',area)

PRACTICAL NO: 5

OBJECTIVE:
Write a program to obtain temperature in Celsius and convert it into Fahrenheit.
Formula : F = C*(9/5+ 32)

SOURCE CODE:

In [9]:
cel = float(input("Enter the temperature in celcius: "))
Fah = (9/5)*cel+ 32
print ("The temperature in Fahrenheit is ", Fah)

Enter the temperature in celcius: 100
The temperature in Fahrenheit is  212.0

PRACTICAL NO: 6

OBJECTIVE:
Write a program to read details like name, class, age of a student and then print the details in same line and then in separate lines.
(Make sure to have two blank lines in these two different types of prints.)

SOURCE CODE:

In [12]:
n = input("Enter name of student: ")
c = int(input("Enter class of student: "))
a = int(input("Enter age of student: "))
print("Name: ", n, "Class:" , c, "Age:" , a)
print()
print()
print("Name:", n)
print("Class:", c)
print("Age:", a)

Enter name of student: AMIT
Enter class of student: 9
Enter age of student: 15
Name:  AMIT Class: 9 Age: 15


Name: AMIT
Class: 9
Age: 15

PRACTICAL NO: 7

OBJECTIVE

Write a program to check whether the entered number is odd or even.

SOURCE CODE:

In [15]:
num = int (input ("Enter any number to test whether it is odd or even: " ))
if (num % 2) == 0:
  print ("The number is even")
else:
  print ("The provided number is odd")

Enter any number to test whether it is odd or even: 887
The provided number is odd

PRACTICAL NO: 8

OBJECTIVE
Write a program to calculate simple interest.

SOURCE CODE:

In [17]:
pass1= int(input("Enter the 4-digit pin :"))
if pass1==1234:
  print("Your phone is unlocked")
else:
  print("Password incorrect! ")

Enter the 4-digit pin :1234
Your phone is unlocked

PRACTICAL NO: 9

OBJECTIVE
write a program to enter a number and check if it is a prime number or a composte number.

SOURCE CODE:

In [21]:
num=int(input('Enter the number:'))
for i in range(2,num//2+1):
  if num%i==0:
    print('It is Composite Number.')
  break
else:
  print('lt is a Prime Number.')

Enter the number:10
It is Composite Number.

PRACTICAL NO: 10

OBJECTIVE
Write a Program to display the n terms of Fibonacci series.

SOURCE CODE:

In [24]:
n = int(input("Enter the Range Number: "))
a = 0
b = 1
if n == 1:
    print(a)
else:
    print(a, b, end=' ')
    for i in range(2, n):
        c = a + b
        a = b
        b = c
        print(c, end=' ')

Enter the Range Number: 10
0 1 1 2 3 5 8 13 21 34